/*шрифты*/
 @font-face {
    font-family: MyriadProRegular; /* Гарнитура шрифта */
    src: local("MyriadProRegular"),
      url("../fonts/MyriadPro-Regular.woff2") format("woff2"),
      url("../fonts/MyriadPro-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
 }  
/*вспомогательные классы*/

/*чтобы картинки не уходили за границы*/
img {
    max-width: 100%;
    height: auto;
}

/*Класс для того, чтобы контейнер float разметки "видел" их */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/*КОНЕЦ Вспомогательны классы*/

body {
    /*позиционирование*/
    
    /*блочная модель*/
    
    width: 1032px;
    margin: auto;
    
    /*типографика*/
    font-family: Arial, "Tahoma", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
    /*оформление*/
    
    background-color: #ffffff;
    color: #000000;
    /*анимация*/
    /*разное*/
}

header {
  position: relative;
  height: 360px;    
}

/*nav {
  display: inline-block;
}*/

main {
  margin-top: 0;
  margin-bottom: 5px;
  padding: 30px  26px;  
  border-top: solid 1px #ebebeb;  
  border-bottom: solid 1px #ebebeb;  
  
}

footer {
  height: 80px;
  margin: 0;
  padding: 16px 40px;  
  font-size: 11px;
  line-height: 15px;
  background-color: #515151;
}

a {
  color: #367cbd;
}

/*h2 {
  display: inline-block;
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
  background-image: linear-gradient(to top, #f5f5f5, #ffffff);
}*/

/*.auto-area {
  position: absolute;
  top: 50px;
  left: -200px;
}*/

.auto-area {
  position: absolute;
  top: 50px;
  left: 316px;
}

.green-line-small {
  height: 5px;
  background-color: #0f3b24; 
}

.grey-line-top {
  height: 3px;
  margin-top: 5px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
    
}
.logo-wraper {
  height: 112px; 
  margin-bottom: 3px;
  border-bottom: solid 1px #ebebeb;
  
}
.logo-area {
  float: left;  
}

.logoimg {
  display: block;
  width: 287px;
  height: 100%;
  
 /* background: url("../img/logo.png") no-repeat;
  background-size: cover;*/
}

.logo-login {
  float: right;
  width: 250px;
  margin-right: 25px;
  padding-top: 28px;
  font-size: 11px;
  line-height: 20px;
}

.logo-login-left {
  float: left;
  display: inline-block;
  width: 188px;
  margin: 0;
  padding: 0;
}

.field {
  float: right;
}

.logo-login-left label {
  margin: 0;
  padding: 0;  
  
  color: #626262;  
}

.logo-login-left input[type="text"] {
  /*display: inline-block;*/  
  width: 113px;
  height: 19px;
  margin-bottom: 6px;
  padding: 0;  
  border-radius: 5px;   
  
}

.logo-login-right {
  float: right;  
  position: relative;
  width: 25px;
  height: 52px;  
  margin: 0 6px;
  margin-right: 31px;
  /*font-size: 11px;
  line-height: 20px;*/
  background-color: #0f3b24;
  /*background: green;*/
  
  /*border-left: 50px solid green;*/
  /*box-shadow: inset 2px 0 5px 0 lightgrey; */
  
  border: none;
  
  outline: 0;
  
}

.logo-login-right::after{
  content:'';
  position: absolute;
  right: -51px; 
  top: 0;
  border: 26px solid transparent;
  /*border-right: 5px solid transparent;*/
  border-left: 25px solid #0f3b24;  
}

.logo-login-right-button-label {
  position: absolute;
  top: 0;
  right: -22px;
  display: inline-block;
  padding: 0 10px;
  margin: 0;
  line-height: 50px;
  font-weight: bold;
  color: #ffffff;  
  z-index: 5;
  text-decoration: none;
}



/*.logo-login-other {
  margin: 5px 0;
}*/

.logo-login-other a{
  display: display-inline;
  padding-right: 7px; 
  border-right: 1px solid #626262;
}

.logo-login-socnet {
  display: inline-block;  
  margin: 0;
  padding: 0;
}

.logo-login-socnet-vk {
  display: inline;
  vertical-align: middle;
}

.logo-login-socnet-fb {
  display: inline;
  vertical-align: middle;
}


.hat-area {
  height: 160px;  
  border-top: solid 1px #ebebeb;
  border-bottom: solid 1px #ebebeb;
}

.hat-area-green {
  /*height: 150px;*/
  margin-top: 5px;
  background-color: #0f3b24;
  
}

.hat-area-green-top{
  height: 85px;  
  background: url("../img/intro.png");  
}

.hat-area-green-bottom{
  height: 65px;
  padding: 0 30px;
  box-shadow: inset 0 4px 20px -2px darkgrey;
}

.hat-area-green-bottom-link{
  display: inline-block;  
  font-size: 11px;
  line-height: 20px;
  padding: 22px 10px;
  color: #ffffff;  
}

.rsslink {
  float: right;    
}

.rsslink:after {
  content: url("../img/rss.png");
  padding: 2px 10px;  
}

.menu-search-area {
  /*height: 33px;*/
  margin-top: 3px;
  padding: 5px 25px;
  border-top: 1px solid #ebebeb;
  border-bottom: solid 1px #ebebeb;
  /*background-color: green;*/
}

.topmenu {
  float: left;
  display: inline;    
  /*margin: 20px 0;*/
  padding: 0;
  
}

.topmenu li {
  position: relative;
  display: inline;
  padding: 9px 11px; 
  font-size: 15px;
  line-height: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.topmenu li:hover {
  color: #ffffff;
  background-color: #0f3b24;   
}

.topmenu li .topmenu-second{
  position: absolute;
  top: 75%;
  left: 0;
  display: none;
  width: 195px;
  margin: 0;
  padding: 0;  
  padding-bottom: 10px;
  background-color: #0f3b24; 
  border-radius: 0 10px 10px 10px;
  
}

.topmenu-second li {
  margin: 0;
  padding:0;  
  
}

.topmenu-second li>a {
  display: block;
  margin: 0;
  padding:0  11px;
  font-size: 12px;
  line-height: 26px;
  text-decoration: none;
  color: #ffffff;
  background-color: #0f3b24; 
  border-bottom: 1px solid #0b301d;
  
}

.topmenu li:hover .topmenu-second{
  display: block;
}

.topmenu-second li>a:hover {
  background: repeating-linear-gradient(-45deg, #0b301d, #0b301d 1px, #0f3b24 1px, #0f3b24 4px);
  box-shadow: inset 0 2px 2px 0 #0b301d;
}


.search-area{
  float: right;
  display: inline;  
  height: 26px;
  width: 209px;
  margin: 7px 12px;
  padding: 3px 10px;
  border: 1px solid #cacaca;
  border-radius: 10px;
  /*background-color: red;*/
}

.search-area:after {
  float: right;
  content: url("../img/search.png");
  padding: 3px;
}

/**/
.main-left {
  float:left;
  display: inline;
  width: 190px;
  padding-right: 23px;
  
}

.main-center {
  float: left;
  display: inline;
  width: 494px;
}

.article-object{
  margin: 18px 0;
}

.article-object h1{
  display: block;
  font-size: 18px;
  line-height: 15px;
  text-decoration: underline;
  color: #367cbd;
  
}

.article-object-date{
  font-size: 11px;
  margin: 15px 0;
  line-height: 15px;
  color: #717171;
}

.article-object section{
  margin-bottom: 17px;
  font-size: 13px;
  line-height: 19px;
}

.article-object-footer{
  font-size: 11px;
  line-height: 15px;
  color: #939393;
  background-color: #f6f5f3;
  box-shadow: -2px -2px 2px 0 #ebeae8;
}

.article-object-autor {
  float: right;
  display: inline-block;
  
}

.article-object-read {
  float: right;
  display: inline-block;
  padding: 0 15px;
  text-align: right;
}

.extra-article h2{
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.extra-article-news {
  font-size: 12px;
  line-height: 18px;  
}

.extra-article-date {
  display: inline-block;

  /*padding-left: 18px;*/
  /*background-color: green;*/
}

.extra-article-date:before{  
  content: url("../img/article_ico.png");
  padding-right: 5px;
   
}
.extra-article-date:after{  
  content: " \2013";  
}

.extra-article-header {
  display: inline-block;

  /*background-color: yellow;*/
}



.main-right {
  float: right;
  display: inline;
  width: 210px;
  margin-right: 16px;
  padding-left: 23px;
  
}

.block-column{
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  box-shadow: 0 2px 4px 2px #dcdcdc;
  border: 1px solid #f6f6f6;
  border-radius: 10px;
}

.header {
  height: 35px;
  margin: 0;
  padding: 0 11px;
  font-size: 14px;
  line-height: 36px;
  font-weight: bold;
  background-image: linear-gradient(to top, #f5f5f5, #ffffff);
  border-bottom: 1px solid #929292;
}

.navigation-menu {
  width: 191px;  
}

/*.header-navigation-menu{
  /*left: 11px;
  width: 100%;
  height: 36px;
  margin: 0;
  /*padding: 0 11px;
  
  line-height: 36px;
}*/

.navigation-menu li{
  height: 36px;
  padding: 0 11px;
  font-size: 12px;
  line-height: 35px;
  font-weight: bold;
  border-top: 1px solid #dcdcdc;
  list-style:none;
  cursor: pointer;
}

.navigation-menu li:hover{
  color: #ffffff;
  background-image: linear-gradient(to top, #0f3b24 0%, #255d40 50%, #0f3b24 100%); 
} 



/*.quest-answer {
  padding: 0 11px;
  /*margin: 0;
  padding: 0;
  box-shadow: 0 2px 4px 2px #dcdcdc;
  border: 1px solid #f6f6f6;
  border-radius: 10px;
}*/

/*.quest-answer-h2{
  /*width: 100%;
  height: 36px;
  margin: 0;
  padding: 0;
  
  /*line-height: 36px;
}*/

/*.quest-answer-grupp {
  margin-right: 25px;
}*/

.quest-answer-link{
  display: block;
  padding: 0 11px;
  font-size: 13px;
  line-height: 22px;
  white-space: nowrap; /* Отменяем перенос текста */
  overflow: hidden; /* Обрезаем содержимое */
  text-overflow: ellipsis;
  /*color: #367cbd;*/
  text-decoration: none;
}

.quest-answer-link:before {
  content: "\25CB"; 
  padding-right: 5px;
  color: #9e9e9e;
  
}

.news-column {
   padding-bottom: 13px;
  
}

/*.header-news{
  /*width: 100%;
  height: 36px;
  padding: 0 11px;*/
  /*font-size: 14px;*/
  /*line-height: 25px;*/
  /*font-weight: bold;
  background-image: linear-gradient(to top, #f5f5f5, #ffffff);
  border-bottom: 1px solid #929292;
}*/

.news-column-news{
  margin: 0 10px;
  /*padding: 11px 0;  */
  cursor : pointer;  
 border-bottom: 1px dotted #929292;
}

.news-date {
  margin: 0;
  padding-top: 8px;
  font-size: 10px;
  line-height: 18px;
  color: #929292;
}

.news-content {
  padding-bottom: 5px;
  font-size: 13px;
  line-height: 17px;  
  text-decoration: underline;
  color: #367cbd;
}

.interview {
  margin: 0;
  margin-bottom: 22px;
  padding: 13px 10px;
  background-color: #f6f5f3;
  border-radius: 10px;
}

.interview h2{
  display: block;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.interview h3{
  display: block;
  margin: 11px 0 18px;
  /*margin: 0;*/
  padding: 0;
  font-size: 11px;
  line-height: 16px;
  font-style: italic;
  font-weight: bold;
  color: #6a6a6a;
}

.interview input[type="radio"] {
  /*display: inline-block;  */
  margin: 0;
  padding: 7px 0;

}

.interview label {
  display: inline-block;
  width: 150px;
  margin: 0;
  padding: 0 7px;
  font-size: 13px;
  line-height: 18px;
  
}

.interview button{
  width: 82px;
  height: 28px;
  margin: 13px 0;
  margin-left: 58px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #0f3b24;
}

.interview-sign {
  display: block;
  font-size: 11px;
  line-height: 14px;
  font-weight: bold;
  text-align: center;
}

.interview a {
  display: block;

}

.interview-other {
  margin-bottom: 18px;
}

.green-line{
  height: 15px;
  background-color: #0f3b24;
  border-bottom: 1px solid #000000;
}

.footer-wraper{
  float: left;
  color: #ffffff;
}

.footer-designer {
  padding-top: 14px;
}

.footer-menu {
  float: left;
  margin: 0;
  list-style: none;  
}

.footer-menu li>a{
  color: #ffffff; 
}
